@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --color: black;
  --background-color: rgb(238, 238, 238);
  --secoundary-color: rgb(238, 238, 238);
  --color-text-sec: rgb(146, 146, 146);
}

body {
  background-color: var(--background-color);
  font-size: 15px;
  font-family: voyage, sans-serif;
  transition: all 1s ease-in-out;
  overflow-x: hidden;
}

/*navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 40px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color);
  transition: background-color 1s ease-in-out;
  z-index: 99998;
}

.navbar img {
  height: 20px;
  margin-left: 3em;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  position: relative;
  z-index: 1001;
}

.list {
  display: flex;
  gap: 50%;
  list-style-type: none;
  justify-content: center;
}

.navbar ul a {
  text-decoration: none;
  color: var(--background-color);
  transition: color 1s ease-in-out;
}

.theme_button {
  height: 20px;
  width: 80px;
  justify-self: right;
  margin-right: 3em;
  background-color: var(--color);
  text-align: center;
  font-size: 15px;
  color: var(--background-color);
  border: 2px solid var(--background-color);
  font-family: voyage, sans-serif;
  padding-bottom: 1.2em;
  border-radius: 3em;
  cursor: pointer;
  transition: all 1s ease-in-out;
  z-index: 999;
}
.theme_button:hover {
  background-color: var(--color);
  color: var(--background-color);
}
.hamburger {
  display: none;
}
@media (max-width: 700px) {
  .navbar {
    height: 100px;
  }
}
@media (max-width: 1400px) {
  .list {
    gap: 30%;
  }
}
@media (max-width: 1000px) {
  .navbar ul li {
    font-size: 40px;
  }
  .hamburger {
    display: block;
    grid-column: 3;
    justify-self: right;
    margin-right: 3em;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    padding: 0em;
    z-index: 999;
  }
  .hamburger .line {
    width: 2em;
    height: 0.2em;
    background: var(--color);
    margin-bottom: 0.3em;
    transition: 1s ease-in-out;
  }

  .hamburger.active .line:first-child {
    transform: translateX(5px);
  }

  .hamburger.active .line:nth-child(2) {
    transform: translateX(-5px);
  }
  .list.active {
    transform: translateY(0%);
  }

  .list {
    background-color: var(--background-color);
    height: 900px;
    position: absolute;
    right: 0;
    top: 0vh;
    flex-direction: column;
    text-align: center;
    transform: translateY(101%);
    transition: 0.5s ease-in-out;
    width: 100%;
    gap: 5%;
    z-index: 998;
  }
  .theme_button {
    justify-self: center;
    margin-right: 0em;
  }
}

/*hover effect */
.hover_effect {
  display: flex;
  height: 840px;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}
.hover_effect div {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: url(../photos/show_more.gif);
  background-color: var(--color);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.hover_effect div:hover {
  scale: 1.2;
}
.hover_effect .js-effect p {
  color: var(--secoundary-color);
  font-size: 25px;
}
@media (max-width: 700px) {
  .hover_effect {
    height: 100vh;
  }
  .hover_effect div {
    width: 200px;
    height: 200px;
  }
}

/*loader */
.preloader {
  background: url(../photos/bg_loader.png);
  height: 100vh;
  width: 150%;
  position: fixed;
  z-index: 9999;
  transition: all 0.7s ease-in;
  top: 0;
  left: 0;
  animation: loaderAnimation 1.8s ease-in-out;
  overflow: hidden;
  z-index: 99999;
}
@keyframes loaderAnimation {
  0% {
    transform: translateX(-500px) rotate(0);
  }
  100% {
    transform: translateX(3000px) rotate(0);
  }
}
@media (max-width: 700px) {
  .preloader {
    display: none;
  }
}

/*main content */
.main_content {
  position: none;
  top: 0;
  left: 0;
  display: flex; /*zmian pozniej na none */
  flex-direction: column;

  justify-content: flex-start;
  padding-top: 4em;
  height: 6400px;
  width: 100%;
  z-index: 1000;
  transition: all 1s ease-in-out;
  background-color: black; /* usun później */
}
.main_content_intro {
  display: flex; /*zmian pozniej na none */
  flex-direction: column;
  align-items: center;
}
.blur {
  background-color: var(--color);
  height: 1000px;
  width: 100%;
  filter: blur(350px);
  margin-top: -40em;
  opacity: 0.9;
  transition: all 1s ease-in-out;
}

.main_text {
  color: var(--secoundary-color);
  font-size: 140px;
  line-height: 100%;
  justify-self: center;
  align-self: center;
  opacity: 1;
  font-family: voyage, sans-serif;
  transition: color 1s ease-in-out;
  text-align: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: -4em;
  z-index: 9998;
}
.main_text p {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.main_img {
  background: url(../photos/main_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 85%;
  margin-left: 3em;
  margin-right: 3em;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.main_img h1 {
  color: white;
  text-align: center;
  font-size: 150px;
  position: relative;
  z-index: 9999;
}
.main_img p {
  color: white;
  text-align: center;
  font-size: 50px;
}
.main_content_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
}
.description_year {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.description_year hr {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 2px solid white;
  justify-self: center;
  margin-top: 0.4em;
  margin-right: 0.5em;
  transition: all 1s ease-in-out;
  width: 50px;
}
.description_year p {
  color: white;
  width: 100%;
  font-size: 26px;
  margin-left: 0.5em;
}
.description_main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description_main .description {
  width: 100%;
  padding-left: 5em;
  padding-right: 7em;
}
.description_main .img_anim_gif {
  width: 100%;
  padding-left: 7em;
}
.img_anim_gif img {
  width: 85%;
}

.description_main .description h2 {
  color: white;
  font-size: 35px;
  line-height: 1.3em;
  font-weight: 300;
  margin-bottom: 3em;
  margin-top: 2em;
  text-align: justify;
}
.description_main .description a {
  color: rgb(146, 146, 146);
  text-decoration: none;
  font-size: 26px;
  position: relative;
}
.description_main .description a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -0.2em;
  left: 0;

  background-color: rgb(146, 146, 146);
  transition: width 0.3s ease-in-out;
}
.description_main .description a:hover::before {
  width: 100%;
}
.main_content_gallery {
  margin-top: 10em;
  padding-bottom: 4em;
  padding-top: 10em;
  padding-bottom: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  width: 100%;
}
.main_content_gallery p {
  color: black;
  font-size: 20px;
  margin-bottom: 3em;
}
.main_content_gallery ul {
  text-align: center;
  list-style-type: none;
  position: relative;
  z-index: 2;
}
.main_content_gallery ul li {
  padding-bottom: 2em;
}
.main_content_gallery ul li a {
  text-decoration: none;
  color: black;
  font-size: 130px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.main_content_gallery .photos {
  background-color: none;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 80%;
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.main_content_gallery .anim_photos {
  background-color: rgb(238, 238, 238);
  height: 1000px;
  width: 80%;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}
.js-anim-photos {
  transition: transform 1s ease-in-out;
  transform: none;
  opacity: none;
}
.animation-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 700px; /* Wysokość kontenera */
  background-color: rgb(238, 238, 238);
  padding-bottom: 10em;
}
.moving-text {
  position: absolute;
  white-space: nowrap;
  font-size: 250px;
  animation: moveText 125s linear infinite;
}
@keyframes moveText {
  0% {
    transform: translateX(100);
  }
  100% {
    transform: translateX(-100%);
  }
}

.main_content_comming_soon {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  margin-top: 10em;
}
.main_content_comming_soon h2 {
  color: white;
  font-size: 130px;
  font-weight: 100;
  margin-bottom: 0.6em;
}
.main_content_comming_soon_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main_content_comming_soon_container p {
  color: white;
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/*start footer */

.start_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.start_footer .info {
  width: 100%;
}
.start_footer .info p {
  padding-left: 1em;
  padding-bottom: 3em;
  color: var(--color);
  transition: all 1s ease-in-out;
}
.start_footer .line {
  width: 100%;
}
.start_footer hr {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 2px solid var(--color);
  justify-self: center;
  margin-bottom: 3em;
  transition: all 1s ease-in-out;
}
::-webkit-scrollbar {
  width: 0em;
}

/*main footer */

footer {
  display: flex;
  flex-direction: row;
  gap: 50%;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
footer a {
  margin-right: 3em;
  text-decoration: none;
  color: white;
}
footer p {
  margin-left: 3em;
  color: white;
}
