@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --color: black;
  --background-color: bisque;
  --secoundary-color: bisque;
}

body {
  background-color: var(--background-color);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 1s ease-in-out;
  overflow-x: hidden;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 40px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  transition: background-color 1s ease-in-out;
  z-index: 1001;
}

.navbar img {
  height: 20px;
  margin-left: 3em;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  position: relative;
  z-index: 1001;
}

.list {
  display: flex;
  gap: 50%;
  list-style-type: none;
  justify-content: center;
}

.navbar ul a {
  text-decoration: none;
  color: var(--color);
  transition: color 1s ease-in-out;
}

.theme_button {
  height: 20px;
  width: 80px;
  justify-self: right;
  margin-right: 3em;
  background-color: var(--background-color);
  text-align: center;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 3em;
  cursor: pointer;
  transition: all 1s ease-in-out;
  z-index: 999;
}

.hamburger {
  display: none;
}
@media (max-width: 700px) {
  .navbar {
    height: 100px;
  }
}
@media (max-width: 1400px) {
  .list {
    gap: 30%;
  }
}
@media (max-width: 1000px) {
  .navbar ul li {
    font-size: 40px;
  }
  .hamburger {
    display: block;
    grid-column: 3;
    justify-self: right;
    margin-right: 3em;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    padding: 0em;
    z-index: 999;
  }
  .hamburger .line {
    width: 2em;
    height: 0.2em;
    background: var(--color);
    margin-bottom: 0.3em;
    transition: 1s ease-in-out;
  }

  .hamburger.active .line:first-child {
    transform: translateX(5px);
  }

  .hamburger.active .line:nth-child(2) {
    transform: translateX(-5px);
  }
  .list.active {
    transform: translateY(0%);
  }

  .list {
    background-color: var(--background-color);
    height: 900px;
    position: absolute;
    right: 0;
    top: 0vh;
    flex-direction: column;
    text-align: center;
    transform: translateY(101%);
    transition: 0.5s ease-in-out;
    width: 100%;
    gap: 5%;
    z-index: 998;
  }
  .theme_button {
    justify-self: center;
    margin-right: 0em;
  }
}

.hover_effect {
  display: flex;
  height: 900px;
  justify-content: center;
  align-items: center;
}
.hover_effect div {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: var(--color);
  transition: all 1s ease-in-out;
  position: relative;
  animation: smileAnimation 2.2s ease-in-out infinite;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover_effect .js-effect p {
  color: var(--secoundary-color);
  transition: all 1s ease-in-out;
}

@keyframes smileAnimation {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-35px) rotate(0);
  }
  75% {
    transform: translateY(-35px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@media (max-width: 700px) {
  .hover_effect {
    height: 100vh;
  }
  .hover_effect div {
    width: 200px;
    height: 200px;
  }
}
.preloader {
  background: url(../photos/bg_loader.png);
  height: 100vh;
  width: 150%;
  position: fixed;
  z-index: 9999;
  transition: all 1s ease-in-out;
  top: 0;
  left: 0;
  animation: loaderAnimation 1.8s ease-in-out;
  overflow: hidden;
}

@keyframes loaderAnimation {
  0% {
    transform: translateX(-300px) rotate(0);
  }
  100% {
    transform: translateX(3000px) rotate(0);
  }
}

@media (max-width: 700px) {
  .preloader {
    display: none;
  }
}
.main_content {
  position: none;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 100%;
  z-index: 1000;
}

.test {
  color: var(--secoundary-color);
  font-size: 50px;
  justify-self: center;
  align-self: center;
  opacity: 1;
  transition: all 1s ease-in-out;
  text-align: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: -3em;
  box-shadow: inset;
}

.main_img {
  background: url(../photos/main_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 700px;
  margin-left: 3em;
  margin-right: 3em;
  transition: all 1s ease-in-out;
}
::-webkit-scrollbar {
  width: 0em;
}
